altair==4.2.2
argon2-cffi==21.3.0
astor==0.8.1
attrs==23.1.0
backcall==0.2.0
base58==2.1.1
bleach==6.0.0
blinker==1.8.2
boto3==1.28.45
botocore==1.31.45
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0  # Replaces chardet (deprecated)
click==8.1.7
colorama==0.4.6
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.18.1
entrypoints==0.4
enum-compat==0.0.3
Flask==2.3.3
idna==3.4
ipykernel==6.25.2
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.19.0
jupyter-client==8.4.0
jupyter-core==5.3.0
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mistune==3.0.2
nbconvert==7.8.0
nbformat==5.9.2
notebook==7.1.0
numpy==1.26.4 --only-binary=:all:
packaging==23.2
pandas==2.1.2
pandocfilters==1.5.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.4
pycodestyle==2.11.0
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.16.1
pyparsing==3.1.1
pyrsistent==0.20.0
python-dateutil==2.8.2
pytz==2023.3
pyzmq==25.1.1
requests==2.31.0
s3transfer==0.6.2
scipy==1.11.3
seaborn==0.12.2
Send2Trash==1.8.2
six==1.16.0
streamlit==1.26.0
terminado==0.17.1
testpath==0.6.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
traitlets==5.10.0
tzlocal==4.3
urllib3==1.26.20
validators==0.34.0
watchdog==3.0.0
wcwidth==0.2.8
webencodings==0.5.1
Werkzeug==3.0.1
widgetsnbextension==4.0.8
yarg==0.1.9

# Added for build support
setuptools>=65.5.1
wheel==0.44.0
distlib==0.3.7  # For managing distributions and build processes